.background {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  height: 100vh;
}

h1 {
  align-self: center;
}

.input {
  align-self: center;
}
.formulario {
  align-self: center;
}

.erro {
  color: red;
  flex-wrap: wrap;
  width: 120px;
  font-size: 12px;
  text-align: center;
  margin: 4px 0;
}
